<%= form_with(model: [space, member], url: space_members_path, class: "w-full flex flex-col gap-y-6") do |form| %>
  <div class="[&_p]:sr-only">
    <%= form.label :user, class: "input input-bordered flex items-center gap-2" do %>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
        fill="currentColor"
        class="w-4 h-4 opacity-70"
      ><path
          d="M2.5 3A1.5 1.5 0 0 0 1 4.5v.793c.026.009.051.02.076.032L7.674 8.51c.206.1.446.1.652 0l6.598-3.185A.755.755 0 0 1 15 5.293V4.5A1.5 1.5 0 0 0 13.5 3h-11Z"
        /><path
          d="M15 6.954 8.978 9.86a2.25 2.25 0 0 1-1.956 0L1 6.954V11.5A1.5 1.5 0 0 0 2.5 13h11a1.5 1.5 0 0 0 1.5-1.5V6.954Z"
        /></svg>
      <%= form.email_field :user,
                       value: member.user&.email,
                       class: "grow",
                       placeholder: "Email" %>
    <% end %>
  </div>

  <div class="[&_p]:sr-only">
    <%= form.label :role do %>
      <%= form.select :role,
                  [%w[Member member], %w[Viewer viewer], %w[Admin admin]],
                  { prompt: "Select role" },
                  class: "select select-bordered w-full" %>
    <% end %>
  </div>

  <%= form.hidden_field :from, value: @back_to_members %>

  <%= form.submit "Add member", class: "btn btn-neutral" %>
<% end %>
