<%= turbo_stream_from "#{@space.slug}_members" %>

<div class="p-2 flex flex-col gap-2 sm:p-6">

  <%= render "application/heading", title: "Members" %>

  <%= render "controls", space: @space %>

  <ul class="w-full flex flex-col gap-2" id="members">
    <li
      class="
        member bg-base-200 rounded-btn py-3 px-6 flex items-center space-between
      "
    >
      <span class="grow"><%= @space.owner.name %></span>
      <span class="badge badge-sm badge-primary shrink-0">owner</span>
    </li>
    <%= render partial: "member", locals: { space: @space }, collection: @members %>
    <li class="no-members p-4 text-center">No members yet</li>
  </ul>
</div>
