<%= turbo_stream_from @space %>

<div class="p-2 flex flex-col gap-2 sm:p-6">

  <%= render "application/heading", title: @space.name %>

  <%= render "spaces/controls", space: @space %>

  <%= render "todos/new", space: @space, todo: @todo %>

  <ul class="w-full flex flex-col gap-2" id="todos">
    <%= render partial: "todos/todo",
    locals: {
      space: @space,
    },
    collection: @todos,
    cached: true %>
    <li class="no-todos p-4 text-center">No todos yet</li>
  </ul>
</div>
