<!DOCTYPE html>
<html data-theme="cupcake">
  <head>
    <title>Kasoku</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    >
    <%# <meta name="viewport" content="viewport-fit=cover"> %>
    <meta name="view-transition" content="same-origin"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= tag.link rel: "manifest", href: webmanifest_path(format: :json) %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application",
    "data-turbo-track": "reload",
    type: "module" %>

    <%= turbo_refreshes_with method: :morph, scroll: :preserve %>
    <%= content_for :head %>

  </head>

  <body>
    <% flash.each do |type, message| %>
      <div
        data-controller="notification"
        data-notification-delay-value="2000"
        class="
          transition transform duration-1000 hidden toast toast-top w-full sm:w-fit
          toast-end sm:toast-end
        "
        data-transition-enter-from="opacity-0 translate-x-6"
        data-transition-enter-to="opacity-100 translate-x-0"
        data-transition-leave-from="opacity-100 translate-x-0"
        data-transition-leave-to="opacity-0 translate-x-6"
      >
        <%= tag.div class: "alert alert-#{type}", role: "alert" do %>
          <%# <%= flash_icon type %>
          <%= message %>
        <% end %>
        <!-- button data-action="notification#hide">Close</!-->
      </div>
    <% end %>

    <main class="pb-16">
      <%= yield %>
    </main>

    <%= render "bottom_navigation" %>
  </body>
</html>
