<!DOCTYPE html>
<html data-theme="cupcake">
  <head>
    <title>Kasoku</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    >
    <%# <meta name="viewport" content="viewport-fit=cover"> %>
    <meta name="view-transition" content="same-origin"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= tag.link rel: "manifest", href: webmanifest_path(format: :json) %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application",
    "data-turbo-track": "reload",
    type: "module" %>

    <%= turbo_refreshes_with method: :morph, scroll: :preserve %>
    <%= content_for :head %>

  </head>

  <body>

    <%= render "flash" %>

    <main class="adjusted-max-height overflow-x-hidden overflow-y-scroll">
      <%= yield %>
    </main>

    <%= render "bottom_navigation" %>
  </body>
</html>
